body {
  font-family: "Fira Sans";
  margin: 0;
  padding: 0;
}

h3, h1, h2, p {
  margin: 0;
}

header {
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 13px;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 177px;
}

.logo {
  flex: 0 0 auto;
  margin-bottom: 10px;
}

.right-links {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  gap: 25px;
  justify-content: center;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 90px 100px 75px 100px;
  background-color: #1F2937;
}

.hero-left {
  width: 450px;
  flex-shrink: 0;
}

.main-text {
  font-size: 48px;
  color: #F9FAF8;
}

.hero p {
  font-size: 18px;
  margin: 5px 0 10px 0;
  color: #E5E7EB;
}

.hero button {
  margin-bottom: 75px;
  background-color: #3882F6;
  border-radius: 5px;
  color: #F9FAF8;
  border-style: none;
  padding: 8px 26px;
  font-weight: 500;
}

.hero img {
  height: 235px;
  width: 500px;
  flex: 0 0 auto;
  background-color: rgba(148, 148, 148, 0.651);
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  flex-flow: row wrap;
  padding: 75px 75px 95px 75px;
  justify-content: center;
  align-content: flex-start;
  column-gap: 115px;
  color: #1F2937;
}
.information h2 {
  flex-shrink: 0;
  font-size: 36px;
  margin: 0 100% 35px 100%;
  display: flex;
  justify-content: center;
}

.information .container {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  width: 150px;
  height: 250px;
  gap: 14px;
}

.info-img {
  border: 3px solid #3882F6;
  border-radius: 14px;
  height: 150px;
  width: 150px;
}

.quote {
  background-color: #E5E7EB;
  padding: 100px 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1F2937;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote h3 {
  margin-top: 10px;
  align-self: flex-end;
}

.signup-wrapper {
  margin: 100px 180px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  padding: 45px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.right-section button {
  background-color: #3882F6;
  border-radius: 8px;
  color: #F9FAF8;
  border: 2px solid #F9FAF8;
  padding: 6px 36px;
  font-weight: 500;
}

.signup-wrapper p {
  margin-top: 3px;
}

footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px;
  flex-wrap: wrap;
}
